<?xml version="1.0" encoding="utf-8" ?>
<parameters>
	<parameter Name="Font" Value="12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif"></parameter>
	<parameter Name="Base Color" Value="#1A5DA7" Type="Color"></parameter>
	<parameter Name="Table Color" Value="#1A1FA7" Type="Color" Base="Base Color" Expression="1.124,1,1"></parameter>
	<parameter Name="ProgressBarIndicator Color" Value="#366CA7" Type="Color" Base="Base Color" Expression="1,0.8,1"></parameter>
	<parameter Name="Calendar Hover Color" Value="#527BA7" Type="Color" Base="Base Color" Expression="1,0.6,1"></parameter>
	<parameter Name="Calendar Today Selected Color" Value="#103864" Type="Color" Base="Base Color" Expression="1,1,0.6"></parameter>
	<parameter Name="CalendarWeekend Color" Value="#7AA71A" Type="Color" Base="Base Color" Expression="0.374,1,1"></parameter>
	<parameter Name="GroupType Color" Value="#828D16" Type="Color" Base="Base Color" Expression="0.312,1,0.847"></parameter>
	<parameter Name="TimelineDateHeader Color" Value="#A14AA7" Type="Color" Base="Base Color" Expression="1.4,0.66,1"></parameter>
	<parameter Name="TimeMarkerLine Color" Value="#7B32A7" Type="Color" Base="Base Color" Expression="1.312,0.833,1"></parameter>
</parameters>
